apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    url: http://influxdb:8086
    user: {{TELEGRAF_USER}}
    database: {{INFLUXDB_DB_NAME}}
    jsonData:
      httpMode: GET
    secureJsonData:
      password: {{TELEGRAF_PASSWORD}}


